.tooltip{
	opacity:1;
	filter:alpha(opacity=100);
}

img {
	cursor: pointer;
}

.folder_wrench {background: url('images/extjs_icons/folder/folder_wrench.png') no-repeat;}
.anchor {background: url('images/extjs_icons/anchor.png') no-repeat;}
.arrow_green {background: url('images/extjs_icons/arrow_green.png') no-repeat;}
.asterisk_orange {background: url('images/extjs_icons/asterisk_orange.png') no-repeat;}
.asterisk_yellow {background: url('images/extjs_icons/asterisk_yellow.png') no-repeat;}
.attach {background: url('images/extjs_icons/attach.png') no-repeat;}
.bell {background: url('images/extjs_icons/bell.png') no-repeat;}
.bell_add {background: url('images/extjs_icons/bell_add.png') no-repeat;}
.bell_delete {background: url('images/extjs_icons/bell_delete.png') no-repeat;}
.bell_error {background: url('images/extjs_icons/bell_error.png') no-repeat;}
.bell_go {background: url('images/extjs_icons/bell_go.png') no-repeat;}
.bell_link {background: url('images/extjs_icons/bell_link.png') no-repeat;}
.bin {background: url('images/extjs_icons/bin.png') no-repeat;}
.bin_closed {background: url('images/extjs_icons/bin_closed.png') no-repeat;}
.bin_empty {background: url('images/extjs_icons/bin_empty.png') no-repeat;}
.bomb {background: url('images/extjs_icons/bomb.png') no-repeat;}
.book {background: url('images/extjs_icons/book.png') no-repeat;}
.book_add {background: url('images/extjs_icons/book_add.png') no-repeat;}
.book_addresses {background: url('images/extjs_icons/book_addresses.png') no-repeat;}
.book_delete {background: url('images/extjs_icons/book_delete.png') no-repeat;}
.book_edit {background: url('images/extjs_icons/book_edit.png') no-repeat;}
.book_error {background: url('images/extjs_icons/book_error.png') no-repeat;}
.book_go {background: url('images/extjs_icons/book_go.png') no-repeat;}
.book_key {background: url('images/extjs_icons/book_key.png') no-repeat;}
.book_link {background: url('images/extjs_icons/book_link.png') no-repeat;}
.book_next {background: url('images/extjs_icons/book_next.png') no-repeat;}
.book_open {background: url('images/extjs_icons/book_open.png') no-repeat;}
.book_previous {background: url('images/extjs_icons/book_previous.png') no-repeat;}
.box {background: url('images/extjs_icons/box.png') no-repeat;}
.brick {background: url('images/extjs_icons/brick.png') no-repeat;}
.bricks {background: url('images/extjs_icons/bricks.png') no-repeat;}
.brick_add {background: url('images/extjs_icons/brick_add.png') no-repeat;}
.brick_delete {background: url('images/extjs_icons/brick_delete.png') no-repeat;}
.brick_edit {background: url('images/extjs_icons/brick_edit.png') no-repeat;}
.brick_error {background: url('images/extjs_icons/brick_error.png') no-repeat;}
.brick_go {background: url('images/extjs_icons/brick_go.png') no-repeat;}
.brick_link {background: url('images/extjs_icons/brick_link.png') no-repeat;}
.briefcase {background: url('images/extjs_icons/briefcase.png') no-repeat;}
.building {background: url('images/extjs_icons/building.png') no-repeat;}
.building_add {background: url('images/extjs_icons/building_add.png') no-repeat;}
.building_delete {background: url('images/extjs_icons/building_delete.png') no-repeat;}
.building_edit {background: url('images/extjs_icons/building_edit.png') no-repeat;}
.building_error {background: url('images/extjs_icons/building_error.png') no-repeat;}
.building_go {background: url('images/extjs_icons/building_go.png') no-repeat;}
.building_key {background: url('images/extjs_icons/building_key.png') no-repeat;}
.building_link {background: url('images/extjs_icons/building_link.png') no-repeat;}
.bullet_add {background: url('images/extjs_icons/bullet_add.png') no-repeat;}
.bullet_arrow_bottom {background: url('images/extjs_icons/bullet_arrow_bottom.png') no-repeat;}
.bullet_arrow_down {background: url('images/extjs_icons/bullet_arrow_down.png') no-repeat;}
.bullet_arrow_top {background: url('images/extjs_icons/bullet_arrow_top.png') no-repeat;}
.bullet_arrow_up {background: url('images/extjs_icons/bullet_arrow_up.png') no-repeat;}
.bullet_black {background: url('images/extjs_icons/bullet_black.png') no-repeat;}
.bullet_blue {background: url('images/extjs_icons/bullet_blue.png') no-repeat;}
.bullet_delete {background: url('images/extjs_icons/bullet_delete.png') no-repeat;}
.bullet_disk {background: url('images/extjs_icons/bullet_disk.png') no-repeat;}
.bullet_error {background: url('images/extjs_icons/bullet_error.png') no-repeat;}
.bullet_feed {background: url('images/extjs_icons/bullet_feed.png') no-repeat;}
.bullet_go {background: url('images/extjs_icons/bullet_go.png') no-repeat;}
.bullet_green {background: url('images/extjs_icons/bullet_green.png') no-repeat;}
.bullet_key {background: url('images/extjs_icons/bullet_key.png') no-repeat;}
.bullet_orange {background: url('images/extjs_icons/bullet_orange.png') no-repeat;}
.bullet_picture {background: url('images/extjs_icons/bullet_picture.png') no-repeat;}
.bullet_pink {background: url('images/extjs_icons/bullet_pink.png') no-repeat;}
.bullet_purple {background: url('images/extjs_icons/bullet_purple.png') no-repeat;}
.bullet_red {background: url('images/extjs_icons/bullet_red.png') no-repeat;}
.bullet_star {background: url('images/extjs_icons/bullet_star.png') no-repeat;}
.bullet_toggle_minus {background: url('images/extjs_icons/bullet_toggle_minus.png') no-repeat;}
.bullet_toggle_plus {background: url('images/extjs_icons/bullet_toggle_plus.png') no-repeat;}
.bullet_white {background: url('images/extjs_icons/bullet_white.png') no-repeat;}
.bullet_wrench {background: url('images/extjs_icons/bullet_wrench.png') no-repeat;}
.bullet_yellow {background: url('images/extjs_icons/bullet_yellow.png') no-repeat;}
.cake {background: url('images/extjs_icons/cake.png') no-repeat;}
.cancel {background: url('images/extjs_icons/cancel.png') no-repeat;}
.clock {background: url('images/extjs_icons/clock.png') no-repeat;}
.clock_add {background: url('images/extjs_icons/clock_add.png') no-repeat;}
.clock_delete {background: url('images/extjs_icons/clock_delete.png') no-repeat;}
.clock_edit {background: url('images/extjs_icons/clock_edit.png') no-repeat;}
.clock_error {background: url('images/extjs_icons/clock_error.png') no-repeat;}
.clock_go {background: url('images/extjs_icons/clock_go.png') no-repeat;}
.clock_link {background: url('images/extjs_icons/clock_link.png') no-repeat;}
.clock_pause {background: url('images/extjs_icons/clock_pause.png') no-repeat;}
.clock_play {background: url('images/extjs_icons/clock_play.png') no-repeat;}
.clock_red {background: url('images/extjs_icons/clock_red.png') no-repeat;}
.clock_stop {background: url('images/extjs_icons/clock_stop.png') no-repeat;}
.cog {background: url('images/extjs_icons/cog.png') no-repeat;}
.cog_add {background: url('images/extjs_icons/cog_add.png') no-repeat;}
.cog_delete {background: url('images/extjs_icons/cog_delete.png') no-repeat;}
.cog_edit {background: url('images/extjs_icons/cog_edit.png') no-repeat;}
.cog_error {background: url('images/extjs_icons/cog_error.png') no-repeat;}
.cog_go {background: url('images/extjs_icons/cog_go.png') no-repeat;}
.coins {background: url('images/extjs_icons/coins.png') no-repeat;}
.coins_add {background: url('images/extjs_icons/coins_add.png') no-repeat;}
.coins_delete {background: url('images/extjs_icons/coins_delete.png') no-repeat;}
.color_swatch {background: url('images/extjs_icons/color_swatch.png') no-repeat;}
.color_wheel {background: url('images/extjs_icons/color_wheel.png') no-repeat;}
.comment {background: url('images/extjs_icons/comment.png') no-repeat;}
.comments {background: url('images/extjs_icons/comments.png') no-repeat;}
.comments_add {background: url('images/extjs_icons/comments_add.png') no-repeat;}
.comments_delete {background: url('images/extjs_icons/comments_delete.png') no-repeat;}
.comment_add {background: url('images/extjs_icons/comment_add.png') no-repeat;}
.comment_delete {background: url('images/extjs_icons/comment_delete.png') no-repeat;}
.comment_edit {background: url('images/extjs_icons/comment_edit.png') no-repeat;}
.compress {background: url('images/extjs_icons/compress.png') no-repeat;}
.computer {background: url('images/extjs_icons/computer.png') no-repeat;}
.computer_add {background: url('images/extjs_icons/computer_add.png') no-repeat;}
.computer_delete {background: url('images/extjs_icons/computer_delete.png') no-repeat;}
.computer_edit {background: url('images/extjs_icons/computer_edit.png') no-repeat;}
.computer_error {background: url('images/extjs_icons/computer_error.png') no-repeat;}
.computer_go {background: url('images/extjs_icons/computer_go.png') no-repeat;}
.computer_key {background: url('images/extjs_icons/computer_key.png') no-repeat;}
.computer_link {background: url('images/extjs_icons/computer_link.png') no-repeat;}
.connect {background: url('images/extjs_icons/connect.png') no-repeat;}
.contrast {background: url('images/extjs_icons/contrast.png') no-repeat;}
.contrast_decrease {background: url('images/extjs_icons/contrast_decrease.png') no-repeat;}
.contrast_high {background: url('images/extjs_icons/contrast_high.png') no-repeat;}
.contrast_increase {background: url('images/extjs_icons/contrast_increase.png') no-repeat;}
.contrast_low {background: url('images/extjs_icons/contrast_low.png') no-repeat;}
.controller {background: url('images/extjs_icons/controller.png') no-repeat;}
.controller_add {background: url('images/extjs_icons/controller_add.png') no-repeat;}
.controller_delete {background: url('images/extjs_icons/controller_delete.png') no-repeat;}
.controller_error {background: url('images/extjs_icons/controller_error.png') no-repeat;}
.creditcards {background: url('images/extjs_icons/creditcards.png') no-repeat;}
.cup {background: url('images/extjs_icons/cup.png') no-repeat;}
.cup_add {background: url('images/extjs_icons/cup_add.png') no-repeat;}
.cup_delete {background: url('images/extjs_icons/cup_delete.png') no-repeat;}
.cup_edit {background: url('images/extjs_icons/cup_edit.png') no-repeat;}
.cup_error {background: url('images/extjs_icons/cup_error.png') no-repeat;}
.cup_go {background: url('images/extjs_icons/cup_go.png') no-repeat;}
.cup_key {background: url('images/extjs_icons/cup_key.png') no-repeat;}
.cup_link {background: url('images/extjs_icons/cup_link.png') no-repeat;}
.cursor {background: url('images/extjs_icons/cursor.png') no-repeat;}
.cut {background: url('images/extjs_icons/cut.png') no-repeat;}
.cut_red {background: url('images/extjs_icons/cut_red.png') no-repeat;}
.database {background: url('images/extjs_icons/database.png') no-repeat;}
.database_add {background: url('images/extjs_icons/database_add.png') no-repeat;}
.database_connect {background: url('images/extjs_icons/database_connect.png') no-repeat;}
.database_delete {background: url('images/extjs_icons/database_delete.png') no-repeat;}
.database_edit {background: url('images/extjs_icons/database_edit.png') no-repeat;}
.database_error {background: url('images/extjs_icons/database_error.png') no-repeat;}
.database_gear {background: url('images/extjs_icons/database_gear.png') no-repeat;}
.database_go {background: url('images/extjs_icons/database_go.png') no-repeat;}
.database_key {background: url('images/extjs_icons/database_key.png') no-repeat;}
.database_lightning {background: url('images/extjs_icons/database_lightning.png') no-repeat;}
.database_link {background: url('images/extjs_icons/database_link.png') no-repeat;}
.database_refresh {background: url('images/extjs_icons/database_refresh.png') no-repeat;}
.database_save {background: url('images/extjs_icons/database_save.png') no-repeat;}
.database_table {background: url('images/extjs_icons/database_table.png') no-repeat;}
.delete {background: url('images/extjs_icons/delete.png') no-repeat;}
.disconnect {background: url('images/extjs_icons/disconnect.png') no-repeat;}
.disk {background: url('images/extjs_icons/disk.png') no-repeat;}
.disk_multiple {background: url('images/extjs_icons/disk_multiple.png') no-repeat;}
.door {background: url('images/extjs_icons/door.png') no-repeat;}
.door_in {background: url('images/extjs_icons/door_in.png') no-repeat;}
.door_open {background: url('images/extjs_icons/door_open.png') no-repeat;}
.door_out {background: url('images/extjs_icons/door_out.png') no-repeat;}
.drink {background: url('images/extjs_icons/drink.png') no-repeat;}
.drink_empty {background: url('images/extjs_icons/drink_empty.png') no-repeat;}
.dvd {background: url('images/extjs_icons/dvd.png') no-repeat;}
.dvd_add {background: url('images/extjs_icons/dvd_add.png') no-repeat;}
.dvd_delete {background: url('images/extjs_icons/dvd_delete.png') no-repeat;}
.dvd_edit {background: url('images/extjs_icons/dvd_edit.png') no-repeat;}
.dvd_error {background: url('images/extjs_icons/dvd_error.png') no-repeat;}
.dvd_go {background: url('images/extjs_icons/dvd_go.png') no-repeat;}
.dvd_key {background: url('images/extjs_icons/dvd_key.png') no-repeat;}
.dvd_link {background: url('images/extjs_icons/dvd_link.png') no-repeat;}
.emoticon_evilgrin {background: url('images/extjs_icons/emoticon_evilgrin.png') no-repeat;}
.emoticon_grin {background: url('images/extjs_icons/emoticon_grin.png') no-repeat;}
.emoticon_happy {background: url('images/extjs_icons/emoticon_happy.png') no-repeat;}
.emoticon_smile {background: url('images/extjs_icons/emoticon_smile.png') no-repeat;}
.emoticon_surprised {background: url('images/extjs_icons/emoticon_surprised.png') no-repeat;}
.emoticon_tongue {background: url('images/extjs_icons/emoticon_tongue.png') no-repeat;}
.emoticon_unhappy {background: url('images/extjs_icons/emoticon_unhappy.png') no-repeat;}
.emoticon_waii {background: url('images/extjs_icons/emoticon_waii.png') no-repeat;}
.emoticon_wink {background: url('images/extjs_icons/emoticon_wink.png') no-repeat;}
.error {background: url('images/extjs_icons/error.png') no-repeat;}
.error_add {background: url('images/extjs_icons/error_add.png') no-repeat;}
.error_delete {background: url('images/extjs_icons/error_delete.png') no-repeat;}
.error_go {background: url('images/extjs_icons/error_go.png') no-repeat;}
.exclamation {background: url('images/extjs_icons/exclamation.png') no-repeat;}
.eye {background: url('images/extjs_icons/eye.png') no-repeat;}
.female {background: url('images/extjs_icons/female.png') no-repeat;}
.find {background: url('images/extjs_icons/find.png') no-repeat;}
.font {background: url('images/extjs_icons/font.png') no-repeat;}
.font_add {background: url('images/extjs_icons/font_add.png') no-repeat;}
.font_delete {background: url('images/extjs_icons/font_delete.png') no-repeat;}
.font_go {background: url('images/extjs_icons/font_go.png') no-repeat;}
.heart {background: url('images/extjs_icons/heart.png') no-repeat;}
.heart_add {background: url('images/extjs_icons/heart_add.png') no-repeat;}
.heart_delete {background: url('images/extjs_icons/heart_delete.png') no-repeat;}
.help {background: url('images/extjs_icons/help.png') no-repeat;}
.hourglass {background: url('images/extjs_icons/hourglass.png') no-repeat;}
.hourglass_add {background: url('images/extjs_icons/hourglass_add.png') no-repeat;}
.hourglass_delete {background: url('images/extjs_icons/hourglass_delete.png') no-repeat;}
.hourglass_go {background: url('images/extjs_icons/hourglass_go.png') no-repeat;}
.hourglass_link {background: url('images/extjs_icons/hourglass_link.png') no-repeat;}
.house {background: url('images/extjs_icons/house.png') no-repeat;}
.house_go {background: url('images/extjs_icons/house_go.png') no-repeat;}
.house_link {background: url('images/extjs_icons/house_link.png') no-repeat;}
.html {background: url('images/extjs_icons/html.png') no-repeat;}
.html_add {background: url('images/extjs_icons/html_add.png') no-repeat;}
.html_delete {background: url('images/extjs_icons/html_delete.png') no-repeat;}
.html_go {background: url('images/extjs_icons/html_go.png') no-repeat;}
.html_valid {background: url('images/extjs_icons/html_valid.png') no-repeat;}
.image {background: url('images/extjs_icons/image.png') no-repeat;}
.images {background: url('images/extjs_icons/images.png') no-repeat;}
.images_send {background: url('images/extjs_icons/images_send.png') no-repeat;}
.image_add {background: url('images/extjs_icons/image_add.png') no-repeat;}
.image_delete {background: url('images/extjs_icons/image_delete.png') no-repeat;}
.image_edit {background: url('images/extjs_icons/image_edit.png') no-repeat;}
.image_link {background: url('images/extjs_icons/image_link.png') no-repeat;}
.information {background: url('images/extjs_icons/information.png') no-repeat;}
.joystick {background: url('images/extjs_icons/joystick.png') no-repeat;}
.joystick_add {background: url('images/extjs_icons/joystick_add.png') no-repeat;}
.joystick_delete {background: url('images/extjs_icons/joystick_delete.png') no-repeat;}
.joystick_error {background: url('images/extjs_icons/joystick_error.png') no-repeat;}
.key {background: url('images/extjs_icons/key.png') no-repeat;}
.key_add {background: url('images/extjs_icons/key_add.png') no-repeat;}
.key_delete {background: url('images/extjs_icons/key_delete.png') no-repeat;}
.key_go {background: url('images/extjs_icons/key_go.png') no-repeat;}
.layers {background: url('images/extjs_icons/layers.png') no-repeat;}
.lightbulb {background: url('images/extjs_icons/lightbulb.png') no-repeat;}
.lightbulb_add {background: url('images/extjs_icons/lightbulb_add.png') no-repeat;}
.lightbulb_delete {background: url('images/extjs_icons/lightbulb_delete.png') no-repeat;}
.lightbulb_off {background: url('images/extjs_icons/lightbulb_off.png') no-repeat;}
.lightning {background: url('images/extjs_icons/lightning.png') no-repeat;}
.lightning_add {background: url('images/extjs_icons/lightning_add.png') no-repeat;}
.lightning_delete {background: url('images/extjs_icons/lightning_delete.png') no-repeat;}
.lightning_go {background: url('images/extjs_icons/lightning_go.png') no-repeat;}
.link {background: url('images/extjs_icons/link.png') no-repeat;}
.link_add {background: url('images/extjs_icons/link_add.png') no-repeat;}
.link_break {background: url('images/extjs_icons/link_break.png') no-repeat;}
.link_delete {background: url('images/extjs_icons/link_delete.png') no-repeat;}
.link_edit {background: url('images/extjs_icons/link_edit.png') no-repeat;}
.link_error {background: url('images/extjs_icons/link_error.png') no-repeat;}
.link_go {background: url('images/extjs_icons/link_go.png') no-repeat;}
.lorry {background: url('images/extjs_icons/lorry.png') no-repeat;}
.lorry_add {background: url('images/extjs_icons/lorry_add.png') no-repeat;}
.lorry_delete {background: url('images/extjs_icons/lorry_delete.png') no-repeat;}
.lorry_error {background: url('images/extjs_icons/lorry_error.png') no-repeat;}
.lorry_flatbed {background: url('images/extjs_icons/lorry_flatbed.png') no-repeat;}
.lorry_go {background: url('images/extjs_icons/lorry_go.png') no-repeat;}
.lorry_link {background: url('images/extjs_icons/lorry_link.png') no-repeat;}
.male {background: url('images/extjs_icons/male.png') no-repeat;}
.medal_bronze_1 {background: url('images/extjs_icons/medal_bronze_1.png') no-repeat;}
.medal_bronze_2 {background: url('images/extjs_icons/medal_bronze_2.png') no-repeat;}
.medal_bronze_3 {background: url('images/extjs_icons/medal_bronze_3.png') no-repeat;}
.medal_bronze_add {background: url('images/extjs_icons/medal_bronze_add.png') no-repeat;}
.medal_bronze_delete {background: url('images/extjs_icons/medal_bronze_delete.png') no-repeat;}
.medal_gold_1 {background: url('images/extjs_icons/medal_gold_1.png') no-repeat;}
.medal_gold_2 {background: url('images/extjs_icons/medal_gold_2.png') no-repeat;}
.medal_gold_3 {background: url('images/extjs_icons/medal_gold_3.png') no-repeat;}
.medal_gold_add {background: url('images/extjs_icons/medal_gold_add.png') no-repeat;}
.medal_gold_delete {background: url('images/extjs_icons/medal_gold_delete.png') no-repeat;}
.medal_silver_1 {background: url('images/extjs_icons/medal_silver_1.png') no-repeat;}
.medal_silver_2 {background: url('images/extjs_icons/medal_silver_2.png') no-repeat;}
.medal_silver_3 {background: url('images/extjs_icons/medal_silver_3.png') no-repeat;}
.medal_silver_add {background: url('images/extjs_icons/medal_silver_add.png') no-repeat;}
.medal_silver_delete {background: url('images/extjs_icons/medal_silver_delete.png') no-repeat;}
.money {background: url('images/extjs_icons/money.png') no-repeat;}
.money_add {background: url('images/extjs_icons/money_add.png') no-repeat;}
.money_delete {background: url('images/extjs_icons/money_delete.png') no-repeat;}
.money_dollar {background: url('images/extjs_icons/money_dollar.png') no-repeat;}
.money_euro {background: url('images/extjs_icons/money_euro.png') no-repeat;}
.money_pound {background: url('images/extjs_icons/money_pound.png') no-repeat;}
.money_yen {background: url('images/extjs_icons/money_yen.png') no-repeat;}
.mouse {background: url('images/extjs_icons/mouse.png') no-repeat;}
.mouse_add {background: url('images/extjs_icons/mouse_add.png') no-repeat;}
.mouse_delete {background: url('images/extjs_icons/mouse_delete.png') no-repeat;}
.mouse_error {background: url('images/extjs_icons/mouse_error.png') no-repeat;}
.music {background: url('images/extjs_icons/music.png') no-repeat;}
.new {background: url('images/extjs_icons/new.png') no-repeat;}
.package {background: url('images/extjs_icons/package.png') no-repeat;}
.package_add {background: url('images/extjs_icons/package_add.png') no-repeat;}
.package_delete {background: url('images/extjs_icons/package_delete.png') no-repeat;}
.package_go {background: url('images/extjs_icons/package_go.png') no-repeat;}
.package_green {background: url('images/extjs_icons/package_green.png') no-repeat;}
.package_link {background: url('images/extjs_icons/package_link.png') no-repeat;}
.paintbrush {background: url('images/extjs_icons/paintbrush.png') no-repeat;}
.paintcan {background: url('images/extjs_icons/paintcan.png') no-repeat;}
.palette {background: url('images/extjs_icons/palette.png') no-repeat;}
.pencil {background: url('images/extjs_icons/pencil.png') no-repeat;}
.pencil_add {background: url('images/extjs_icons/pencil_add.png') no-repeat;}
.pencil_delete {background: url('images/extjs_icons/pencil_delete.png') no-repeat;}
.pencil_go {background: url('images/extjs_icons/pencil_go.png') no-repeat;}
.phone {background: url('images/extjs_icons/phone.png') no-repeat;}
.phone_add {background: url('images/extjs_icons/phone_add.png') no-repeat;}
.phone_delete {background: url('images/extjs_icons/phone_delete.png') no-repeat;}
.phone_sound {background: url('images/extjs_icons/phone_sound.png') no-repeat;}
.pilcrow {background: url('images/extjs_icons/pilcrow.png') no-repeat;}
.pill {background: url('images/extjs_icons/pill.png') no-repeat;}
.pill_add {background: url('images/extjs_icons/pill_add.png') no-repeat;}
.pill_delete {background: url('images/extjs_icons/pill_delete.png') no-repeat;}
.pill_go {background: url('images/extjs_icons/pill_go.png') no-repeat;}
.plugin {background: url('images/extjs_icons/plugin.png') no-repeat;}
.plugin_add {background: url('images/extjs_icons/plugin_add.png') no-repeat;}
.plugin_delete {background: url('images/extjs_icons/plugin_delete.png') no-repeat;}
.plugin_disabled {background: url('images/extjs_icons/plugin_disabled.png') no-repeat;}
.plugin_edit {background: url('images/extjs_icons/plugin_edit.png') no-repeat;}
.plugin_error {background: url('images/extjs_icons/plugin_error.png') no-repeat;}
.plugin_go {background: url('images/extjs_icons/plugin_go.png') no-repeat;}
.plugin_link {background: url('images/extjs_icons/plugin_link.png') no-repeat;}
.rainbow {background: url('images/extjs_icons/rainbow.png') no-repeat;}
.resultset_first {background: url('images/extjs_icons/resultset_first.png') no-repeat;}
.resultset_last {background: url('images/extjs_icons/resultset_last.png') no-repeat;}
.resultset_next {background: url('images/extjs_icons/resultset_next.png') no-repeat;}
.resultset_previous {background: url('images/extjs_icons/resultset_previous.png') no-repeat;}
.rosette {background: url('images/extjs_icons/rosette.png') no-repeat;}
.rss {background: url('images/extjs_icons/rss.png') no-repeat;}
.rss_add {background: url('images/extjs_icons/rss_add.png') no-repeat;}
.rss_delete {background: url('images/extjs_icons/rss_delete.png') no-repeat;}
.rss_go {background: url('images/extjs_icons/rss_go.png') no-repeat;}
.rss_valid {background: url('images/extjs_icons/rss_valid.png') no-repeat;}
.ruby {background: url('images/extjs_icons/ruby.png') no-repeat;}
.ruby_add {background: url('images/extjs_icons/ruby_add.png') no-repeat;}
.ruby_delete {background: url('images/extjs_icons/ruby_delete.png') no-repeat;}
.ruby_gear {background: url('images/extjs_icons/ruby_gear.png') no-repeat;}
.ruby_get {background: url('images/extjs_icons/ruby_get.png') no-repeat;}
.ruby_go {background: url('images/extjs_icons/ruby_go.png') no-repeat;}
.ruby_key {background: url('images/extjs_icons/ruby_key.png') no-repeat;}
.ruby_link {background: url('images/extjs_icons/ruby_link.png') no-repeat;}
.ruby_put {background: url('images/extjs_icons/ruby_put.png') no-repeat;}
.server {background: url('images/extjs_icons/server.png') no-repeat;}
.server_add {background: url('images/extjs_icons/server_add.png') no-repeat;}
.server_chart {background: url('images/extjs_icons/server_chart.png') no-repeat;}
.server_compressed {background: url('images/extjs_icons/server_compressed.png') no-repeat;}
.server_connect {background: url('images/extjs_icons/server_connect.png') no-repeat;}
.server_database {background: url('images/extjs_icons/server_database.png') no-repeat;}
.server_delete {background: url('images/extjs_icons/server_delete.png') no-repeat;}
.server_edit {background: url('images/extjs_icons/server_edit.png') no-repeat;}
.server_error {background: url('images/extjs_icons/server_error.png') no-repeat;}
.server_go {background: url('images/extjs_icons/server_go.png') no-repeat;}
.server_key {background: url('images/extjs_icons/server_key.png') no-repeat;}
.server_lightning {background: url('images/extjs_icons/server_lightning.png') no-repeat;}
.server_link {background: url('images/extjs_icons/server_link.png') no-repeat;}
.server_uncompressed {background: url('images/extjs_icons/server_uncompressed.png') no-repeat;}
.shading {background: url('images/extjs_icons/shading.png') no-repeat;}
.shape_align_bottom {background: url('images/extjs_icons/shape_align_bottom.png') no-repeat;}
.shape_align_center {background: url('images/extjs_icons/shape_align_center.png') no-repeat;}
.shape_align_left {background: url('images/extjs_icons/shape_align_left.png') no-repeat;}
.shape_align_middle {background: url('images/extjs_icons/shape_align_middle.png') no-repeat;}
.shape_align_right {background: url('images/extjs_icons/shape_align_right.png') no-repeat;}
.shape_align_top {background: url('images/extjs_icons/shape_align_top.png') no-repeat;}
.shape_flip_horizontal {background: url('images/extjs_icons/shape_flip_horizontal.png') no-repeat;}
.shape_flip_vertical {background: url('images/extjs_icons/shape_flip_vertical.png') no-repeat;}
.shape_group {background: url('images/extjs_icons/shape_group.png') no-repeat;}
.shape_handles {background: url('images/extjs_icons/shape_handles.png') no-repeat;}
.shape_move_back {background: url('images/extjs_icons/shape_move_back.png') no-repeat;}
.shape_move_backwards {background: url('images/extjs_icons/shape_move_backwards.png') no-repeat;}
.shape_move_forwards {background: url('images/extjs_icons/shape_move_forwards.png') no-repeat;}
.shape_move_front {background: url('images/extjs_icons/shape_move_front.png') no-repeat;}
.shape_rotate_anticlockwise {background: url('images/extjs_icons/shape_rotate_anticlockwise.png') no-repeat;}
.shape_rotate_clockwise {background: url('images/extjs_icons/shape_rotate_clockwise.png') no-repeat;}
.shape_square {background: url('images/extjs_icons/shape_square.png') no-repeat;}
.shape_square_add {background: url('images/extjs_icons/shape_square_add.png') no-repeat;}
.shape_square_delete {background: url('images/extjs_icons/shape_square_delete.png') no-repeat;}
.shape_square_edit {background: url('images/extjs_icons/shape_square_edit.png') no-repeat;}
.shape_square_error {background: url('images/extjs_icons/shape_square_error.png') no-repeat;}
.shape_square_go {background: url('images/extjs_icons/shape_square_go.png') no-repeat;}
.shape_square_key {background: url('images/extjs_icons/shape_square_key.png') no-repeat;}
.shape_square_link {background: url('images/extjs_icons/shape_square_link.png') no-repeat;}
.shape_ungroup {background: url('images/extjs_icons/shape_ungroup.png') no-repeat;}
.shield {background: url('images/extjs_icons/shield.png') no-repeat;}
.shield_add {background: url('images/extjs_icons/shield_add.png') no-repeat;}
.shield_delete {background: url('images/extjs_icons/shield_delete.png') no-repeat;}
.shield_go {background: url('images/extjs_icons/shield_go.png') no-repeat;}
.sitemap {background: url('images/extjs_icons/sitemap.png') no-repeat;}
.sitemap_color {background: url('images/extjs_icons/sitemap_color.png') no-repeat;}
.sound {background: url('images/extjs_icons/sound.png') no-repeat;}
.sound_add {background: url('images/extjs_icons/sound_add.png') no-repeat;}
.sound_delete {background: url('images/extjs_icons/sound_delete.png') no-repeat;}
.sound_low {background: url('images/extjs_icons/sound_low.png') no-repeat;}
.sound_mute {background: url('images/extjs_icons/sound_mute.png') no-repeat;}
.sound_none {background: url('images/extjs_icons/sound_none.png') no-repeat;}
.spellcheck {background: url('images/extjs_icons/spellcheck.png') no-repeat;}
.sport_8ball {background: url('images/extjs_icons/sport_8ball.png') no-repeat;}
.sport_basketball {background: url('images/extjs_icons/sport_basketball.png') no-repeat;}
.sport_football {background: url('images/extjs_icons/sport_football.png') no-repeat;}
.sport_golf {background: url('images/extjs_icons/sport_golf.png') no-repeat;}
.sport_raquet {background: url('images/extjs_icons/sport_raquet.png') no-repeat;}
.sport_shuttlecock {background: url('images/extjs_icons/sport_shuttlecock.png') no-repeat;}
.sport_soccer {background: url('images/extjs_icons/sport_soccer.png') no-repeat;}
.sport_tennis {background: url('images/extjs_icons/sport_tennis.png') no-repeat;}
.star {background: url('images/extjs_icons/star.png') no-repeat;}
.status_away {background: url('images/extjs_icons/status_away.png') no-repeat;}
.status_busy {background: url('images/extjs_icons/status_busy.png') no-repeat;}
.status_offline {background: url('images/extjs_icons/status_offline.png') no-repeat;}
.status_online {background: url('images/extjs_icons/status_online.png') no-repeat;}
.stop {background: url('images/extjs_icons/stop.png') no-repeat;}
.style {background: url('images/extjs_icons/style.png') no-repeat;}
.style_add {background: url('images/extjs_icons/style_add.png') no-repeat;}
.style_delete {background: url('images/extjs_icons/style_delete.png') no-repeat;}
.style_edit {background: url('images/extjs_icons/style_edit.png') no-repeat;}
.style_go {background: url('images/extjs_icons/style_go.png') no-repeat;}
.sum {background: url('images/extjs_icons/sum.png') no-repeat;}
.tab {background: url('images/extjs_icons/tab.png') no-repeat;}
.tab_add {background: url('images/extjs_icons/tab_add.png') no-repeat;}
.tab_delete {background: url('images/extjs_icons/tab_delete.png') no-repeat;}
.tab_edit {background: url('images/extjs_icons/tab_edit.png') no-repeat;}
.tab_go {background: url('images/extjs_icons/tab_go.png') no-repeat;}
.tag {background: url('images/extjs_icons/tag.png') no-repeat;}
.telephone {background: url('images/extjs_icons/telephone.png') no-repeat;}
.telephone_add {background: url('images/extjs_icons/telephone_add.png') no-repeat;}
.telephone_delete {background: url('images/extjs_icons/telephone_delete.png') no-repeat;}
.telephone_edit {background: url('images/extjs_icons/telephone_edit.png') no-repeat;}
.telephone_error {background: url('images/extjs_icons/telephone_error.png') no-repeat;}
.telephone_go {background: url('images/extjs_icons/telephone_go.png') no-repeat;}
.telephone_key {background: url('images/extjs_icons/telephone_key.png') no-repeat;}
.telephone_link {background: url('images/extjs_icons/telephone_link.png') no-repeat;}
.textfield {background: url('images/extjs_icons/textfield.png') no-repeat;}
.textfield_add {background: url('images/extjs_icons/textfield_add.png') no-repeat;}
.textfield_delete {background: url('images/extjs_icons/textfield_delete.png') no-repeat;}
.textfield_key {background: url('images/extjs_icons/textfield_key.png') no-repeat;}
.textfield_rename {background: url('images/extjs_icons/textfield_rename.png') no-repeat;}
.text_align_center {background: url('images/extjs_icons/text_align_center.png') no-repeat;}
.text_align_justify {background: url('images/extjs_icons/text_align_justify.png') no-repeat;}
.text_align_left {background: url('images/extjs_icons/text_align_left.png') no-repeat;}
.text_align_right {background: url('images/extjs_icons/text_align_right.png') no-repeat;}
.text_allcaps {background: url('images/extjs_icons/text_allcaps.png') no-repeat;}
.text_bold {background: url('images/extjs_icons/text_bold.png') no-repeat;}
.text_columns {background: url('images/extjs_icons/text_columns.png') no-repeat;}
.text_dropcaps {background: url('images/extjs_icons/text_dropcaps.png') no-repeat;}
.text_heading_1 {background: url('images/extjs_icons/text_heading_1.png') no-repeat;}
.text_heading_2 {background: url('images/extjs_icons/text_heading_2.png') no-repeat;}
.text_heading_3 {background: url('images/extjs_icons/text_heading_3.png') no-repeat;}
.text_heading_4 {background: url('images/extjs_icons/text_heading_4.png') no-repeat;}
.text_heading_5 {background: url('images/extjs_icons/text_heading_5.png') no-repeat;}
.text_heading_6 {background: url('images/extjs_icons/text_heading_6.png') no-repeat;}
.text_horizontalrule {background: url('images/extjs_icons/text_horizontalrule.png') no-repeat;}
.text_indent {background: url('images/extjs_icons/text_indent.png') no-repeat;}
.text_indent_remove {background: url('images/extjs_icons/text_indent_remove.png') no-repeat;}
.text_italic {background: url('images/extjs_icons/text_italic.png') no-repeat;}
.text_kerning {background: url('images/extjs_icons/text_kerning.png') no-repeat;}
.text_letterspacing {background: url('images/extjs_icons/text_letterspacing.png') no-repeat;}
.text_letter_omega {background: url('images/extjs_icons/text_letter_omega.png') no-repeat;}
.text_linespacing {background: url('images/extjs_icons/text_linespacing.png') no-repeat;}
.text_list_bullets {background: url('images/extjs_icons/text_list_bullets.png') no-repeat;}
.text_list_numbers {background: url('images/extjs_icons/text_list_numbers.png') no-repeat;}
.text_lowercase {background: url('images/extjs_icons/text_lowercase.png') no-repeat;}
.text_padding_bottom {background: url('images/extjs_icons/text_padding_bottom.png') no-repeat;}
.text_padding_left {background: url('images/extjs_icons/text_padding_left.png') no-repeat;}
.text_padding_right {background: url('images/extjs_icons/text_padding_right.png') no-repeat;}
.text_padding_top {background: url('images/extjs_icons/text_padding_top.png') no-repeat;}
.text_replace {background: url('images/extjs_icons/text_replace.png') no-repeat;}
.text_signature {background: url('images/extjs_icons/text_signature.png') no-repeat;}
.text_smallcaps {background: url('images/extjs_icons/text_smallcaps.png') no-repeat;}
.text_strikethrough {background: url('images/extjs_icons/text_strikethrough.png') no-repeat;}
.text_subscript {background: url('images/extjs_icons/text_subscript.png') no-repeat;}
.text_superscript {background: url('images/extjs_icons/text_superscript.png') no-repeat;}
.text_underline {background: url('images/extjs_icons/text_underline.png') no-repeat;}
.text_uppercase {background: url('images/extjs_icons/text_uppercase.png') no-repeat;}
.thumb_down {background: url('images/extjs_icons/thumb_down.png') no-repeat;}
.thumb_up {background: url('images/extjs_icons/thumb_up.png') no-repeat;}
.tick {background: url('images/extjs_icons/tick.png') no-repeat;}
.time {background: url('images/extjs_icons/time.png') no-repeat;}
.timeline_marker {background: url('images/extjs_icons/timeline_marker.png') no-repeat;}
.time_add {background: url('images/extjs_icons/time_add.png') no-repeat;}
.time_delete {background: url('images/extjs_icons/time_delete.png') no-repeat;}
.time_go {background: url('images/extjs_icons/time_go.png') no-repeat;}
.transmit {background: url('images/extjs_icons/transmit.png') no-repeat;}
.transmit_add {background: url('images/extjs_icons/transmit_add.png') no-repeat;}
.transmit_blue {background: url('images/extjs_icons/transmit_blue.png') no-repeat;}
.transmit_delete {background: url('images/extjs_icons/transmit_delete.png') no-repeat;}
.transmit_edit {background: url('images/extjs_icons/transmit_edit.png') no-repeat;}
.transmit_error {background: url('images/extjs_icons/transmit_error.png') no-repeat;}
.transmit_go {background: url('images/extjs_icons/transmit_go.png') no-repeat;}
.tux {background: url('images/extjs_icons/tux.png') no-repeat;}
.vector {background: url('images/extjs_icons/vector.png') no-repeat;}
.vector_add {background: url('images/extjs_icons/vector_add.png') no-repeat;}
.vector_delete {background: url('images/extjs_icons/vector_delete.png') no-repeat;}
.wand {background: url('images/extjs_icons/wand.png') no-repeat;}
.weather_clouds {background: url('images/extjs_icons/weather_clouds.png') no-repeat;}
.weather_cloudy {background: url('images/extjs_icons/weather_cloudy.png') no-repeat;}
.weather_lightning {background: url('images/extjs_icons/weather_lightning.png') no-repeat;}
.weather_rain {background: url('images/extjs_icons/weather_rain.png') no-repeat;}
.weather_snow {background: url('images/extjs_icons/weather_snow.png') no-repeat;}
.weather_sun {background: url('images/extjs_icons/weather_sun.png') no-repeat;}
.webcam {background: url('images/extjs_icons/webcam.png') no-repeat;}
.webcam_add {background: url('images/extjs_icons/webcam_add.png') no-repeat;}
.webcam_delete {background: url('images/extjs_icons/webcam_delete.png') no-repeat;}
.webcam_error {background: url('images/extjs_icons/webcam_error.png') no-repeat;}
.wrench {background: url('images/extjs_icons/wrench.png') no-repeat;}
.wrench_orange {background: url('images/extjs_icons/wrench_orange.png') no-repeat;}
.xhtml {background: url('images/extjs_icons/xhtml.png') no-repeat;}
.xhtml_add {background: url('images/extjs_icons/xhtml_add.png') no-repeat;}
.xhtml_delete {background: url('images/extjs_icons/xhtml_delete.png') no-repeat;}
.xhtml_go {background: url('images/extjs_icons/xhtml_go.png') no-repeat;}
.xhtml_valid {background: url('images/extjs_icons/xhtml_valid.png') no-repeat;}

.chart_bar{background: url('images/extjs_icons/chart/chart_bar.png') no-repeat;}


.wrench {background: url('images/icon/icon-operation.png') no-repeat;}
.plugin{background: url('images/icon/icon-config.png') no-repeat;}

